* {
  /*box-sizing : border-box;*/
  font-family: "Latto","Helvetica Neue", Helvetica, Arial, sans-serif;
}

.basic-color {
  background-color: #8e8deb;
}
/*#8e8deb;*/
.other-bg{
  background-color: #b7bbff;
}

.instr {
  color: #ffffff;
  width:100%;
  font-size: 2.7vw;
  text-align: right;
  font-weight: 300;
  margin-right: 18vw;
}

html, body {
  height : 100%;
  margin: 0px;
  padding: 0px;
  background-color: #8e8deb;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


textarea {
  resize: none;
}

#root {
  height: 100%;
}

.rrow {
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-around;
  align-items: center;
  font-size: 5.5vw;
  font-weight: 500;
  color: #ffffff;
  /*height: 208px;*/
  /*line-height: 15vw;*/
  width: 100%;
  /*margin-left: 0.5vw;*/
  /*margin-bottom: 10px;*/
}

.rrow .head {
  /*object-fit: scale-down;
  overflow: inherit;*/
  width: 30vw;
  /*height: 15vw;*/
  /*padding-right: 20px;*/

}

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /*background-color: #8e8deb;*/
 /* height : 100%;*/
}

.one-pok-main {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.one-pok-top {
  display: flex;
  justify-content: center;
  /*background-color: #b7bbff;*/
  color: #ffffff;
}

.one-pok-top .box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*background-color: #b7bbff;*/
}

.poks-grid {
  max-width: 88vw;
  display         : flex;
  align-items     : flex-start;
  justify-content : center;
  vertical-align  : top;
  flex-wrap       : wrap;
  align-content   : center;
  /*margin-top: 10px;*/
}

.poks {
  display         : flex;
  justify-content : flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  width   : 88vw;
  padding : 0px;
  /*border  : 1px solid #000000;*/
}

.poks .square {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width   : 25vw;
  height  : 25vw;
  box-sizing : border-box;
  border  : 1px solid #ffffff;
  background-color: #b7bbff;
  margin: 2vw 2vw 0vw 2vw;

  color       : #000000;
  font-size   : 25px;
  justify-content: center;
  font-weight : 100;
  text-align  : center;
  font-family: sans-serif;
  /*padding     : 16px;*/
}

.poks .lab {
  border  : 1px solid #ffffff;
  width   : 25vw;
  margin: 0vw 2vw 2vw 2vw;
  border-top: none;
  color: #ffffff;
  border-radius: none;
  height: 100%;
  font-size: 2.7vw;
  display: block;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.big {
  font-size: 55px;
  text-align: center;
}

.mid-f {
  font-size: 27px;
  font-weight: 500;
}

.lil-f{
  font-size: 18px;
  font-weight: 500;
}

.reg-c{
  color: #d6d6d6;
  font-weight: 400;
}

.bottom-space {
  margin-bottom: 10px;
}

.big-top-space {
  margin-top: 20px;
}

.big-bottom-space {
  margin-bottom: 20px;
}

.pad {
  padding: 10px 15px;

}

.wid {
  width: 90vw;
}

.center_image {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

.col-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.positive {
  background-color: #1fb58f;
}

.negative {
  background-color: #fa7c92;
}

.neutral {
  background-color: #a9b7c0;
}

